__pycache__/
*.pyc
.venv/
venv/

data/raw/*
data/processed/*
data/iam/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/iam/.gitkeep

checkpoints/*.pt
checkpoints/*.pth
models/crnn/*.pt
models/trocr/*
!checkpoints/.gitkeep

.streamlit/secrets.toml

.DS_Store
.vscode/
.idea/
